.container {
    display: flex;
    width: 100%;
    justify-content: center;
    background-image: url('./splashImage_sunrise.jpeg');
    background-size: cover;
}

.main-display {
    display: 'flex';
    width: 50%;
    justify-content: center;
    /* border: 1px solid rgba(4, 0, 255, 0.438); */
    /* margin-top: 40px; */
    /* margin-bottom: 40px; */
    padding: 30px;
    /* background-color: white;
    color: rgba(4, 0, 255, 0.438); */
}

.main-display__content {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 34px;
    padding: 30px;
    line-height: 1.6;
}

.splash-button {
    background-color: rgba(4, 0, 255, 0.438);
    color: white;
    font-weight: 700;
    font-size: 24px;
    border-radius: 15%;
    height: 70px;
    width: 300px;
    margin-left: 300px;
}

.splash-button:hover {
    background-color: rgba(91, 88, 248, 0.438)
}
